@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=New+Tegomin&display=swap');

.font-new-tegomin {
    font-family: 'New Tegomin', serif;
}

.font-cinzel {
    font-family: 'Cinzel', serif;
}