html { 
    background: url(../img/background.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  background-color: transparent !important;
}

body .container {
    background-color: rgba(255, 255, 255, 0.5);
}